FideltasKotlin/.gradle
FideltasKotlin/build/
FideltasKotlin/!gradle/wrapper/gradle-wrapper.jar
FideltasKotlin/!**/src/main/**/build/
FideltasKotlin/!**/src/test/**/build/

### IntelliJ IDEA ###
FideltasKotlin/.idea/modules.xml
FideltasKotlin/.idea/jarRepositories.xml
FideltasKotlin/.idea/compiler.xml
FideltasKotlin/.idea/libraries/
FideltasKotlin/*.iws
FideltasKotlin/*.iml
FideltasKotlin/*.ipr
FideltasKotlin/out/
FideltasKotlin/!**/src/main/**/out/
FideltasKotlin/!**/src/test/**/out/
FideltasKotlin/.idea

### Eclipse ###
FideltasKotlin/.apt_generated
FideltasKotlin/.classpath
FideltasKotlin/.factorypath
FideltasKotlin/.project
FideltasKotlin/.settings
FideltasKotlin/.springBeans
FideltasKotlin/.sts4-cache
FideltasKotlin/bin/
FideltasKotlin/!**/src/main/**/bin/
FideltasKotlin/!**/src/test/**/bin/

### NetBeans ###
FideltasKotlin/nbproject/private/
FideltasKotlin/nbbuild/
FideltasKotlin/dist/
FideltasKotlin/nbdist/
FideltasKotlin/.nb-gradle/

### VS Code ###
FideltasKotlin/.vscode/

### Mac OS ###
FideltasKotlin/.DS_Store.idea/
